@import-normalize;

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.grid-row {
  display: flex;
  flex-wrap: wrap;
}

.grid-cell {
  padding: 5px 30px;
  font-size: 5rem;
  height: 100px;
  width: 50px;
}
.grid-cell:not(:nth-child(3)) {
  border-right: 2px solid;
}

.grid-row:not(:last-child) {
  border-bottom: 2px solid;
}
